@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans-Regular.ttf');
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../fonts/SpaceMono-Regular.ttf');
}

* {
  $scrollRound : 10px;
  $scrollWidth : 4px;
  $scrollHeight: 4px;
  $scrollBG_track : #858584;
  $scrollBG_thumb : #A259FF;
  $scrollColor : #26384c #A259FF;

  box-sizing: border-box;
  scrollbar-width: $scrollWidth;
  scrollbar-color: $scrollColor;

  &::-webkit-scrollbar {
    width: $scrollWidth;
    height: $scrollHeight;
  }

  &::-webkit-scrollbar-track {
    background: $scrollBG_track;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $scrollRound;
    background-color: $scrollBG_thumb;
  }
}

html,
body {
  margin: 0;
  font-size: 15px;
  font-family: 'WorkSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-[24px] xs:text-[28px] sm:text-[38px] md:text-[48px] xl:text-[58px] 2xl:text-[68px] font-[600];
}

.MuiList-root {
  padding: unset !important;
}

.default-input {
  outline: none;
  border-radius: 5px;
  background-color: unset;

  // input number increase hide
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}