section {
  @apply flex justify-center w-full my-[40px] md:my-[80px] px-[20px] xs:px-[4vw];
  > div {
    @apply flex flex-col gap-[40px] md:gap-[60px] w-full max-w-[1440px];
  }
}

.hero-section {
  > div {
    @apply flex flex-col md:flex-row gap-[20px] sm:gap-[30px] lg:gap-[50px] max-w-[1440px];
    .hero-detail {
      @apply flex flex-col gap-[30px];
      p {
        @apply text-[14px] xs:text-[18px] sm:text-[20px] xl:text-[22px] font-[400];
      }
    }

    .hero-item {
      @apply flex flex-col;
      > img {
        @apply rounded-t-[20px];
      }
      .hero-item-detail {
        @apply flex flex-col gap-[10px] p-[20px] bg-second rounded-b-[20px];
        p {
          @apply text-[16px] 2xs:text-[18px] xs:text-[22px] font-[600];
        }
        span {
          @apply text-[14px] xs:text-[16px] font-[400];
        }
      }
    }

    .hero-action {
      @apply flex-col gap-[20px];
      .hero-amount {
        @apply grid grid-cols-3 gap-[30px];
        p {
          font-family: SpaceMono;
          @apply text-[16px] xs:text-[18px] md:text-[22px] font-[700];
        }
        span {
          @apply text-[12px] xs:text-[14px] md:text-[16px] font-[400];
        }
      }
    }
  }
}

.trending-section {
  .trending-description {
    @apply flex flex-col gap-[10px];
    p {
      @apply text-[14px] sm:text-[16px] md:text-[18px] xl:text-[22px] font-[400];
    }
  }

  .trending-collections {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-[20px] sm:gap-[30px];
    .treding-item {
      @apply flex flex-col gap-[15px];
      img {
        @apply rounded-[20px];
      }

      .sub-collections {
        @apply grid grid-cols-3 gap-[15px];
        span {
          font-family: SpaceMono;
          @apply flex justify-center items-center bg-purple rounded-[20px] w-full h-full
          text-[12px] sm:text-[14px] md:text-[16px] xl:text-[18px] 2xl:text-[22px] font-[700];
        }
      }

      .collection-description {
        @apply flex flex-col gap-[10px];
        p {
          @apply text-[16px] 2xs:text-[18px] xs:text-[22px] font-[600];
        }

        span {
          @apply text-[14px] xs:text-[16px] font-[400];
        }
      }
    }
  }
}

.creator-section {
  .creator-description {
    @apply flex justify-between gap-[100px] items-end;
    > div {
      @apply flex flex-col gap-[10px];
      p {
        @apply text-[14px] sm:text-[16px] md:text-[18px] xl:text-[22px] font-[400];
      }
    }
  }
  .creator-collections {
    @apply grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[20px] sm:gap-[30px];
  }
}

.browse-section {
  .browse-description {
  }
  .browse-collections {
    @apply grid 2xs:grid-cols-2 lg:grid-cols-4 gap-[20px] sm:gap-[30px];
  }
}

.nft-section {
  .nft-description {
    @apply flex justify-between gap-[100px] items-end;
    > div {
      @apply flex flex-col gap-[10px];
      p {
        @apply text-[14px] sm:text-[16px] md:text-[18px] xl:text-[22px] font-[400];
      }
    }
  }
  .nft-collections {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-[20px] sm:gap-[30px];
  }
}

.special-section {
  background-image: url('../../assets/images/special.png');
  @apply h-[500px] sm:h-[60vh] md:h-[70vh] lg:h-[90vh] bg-center bg-cover relative bg-no-repeat p-0 m-0;
  > div {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    max-width: 100% !important;
    @apply flex justify-end w-full py-[40px] md:py-[60px] px-[20px] xs:px-[4vw];
    .special-container {
      @apply flex justify-center w-full;
      > div {
        @apply flex flex-col sm:flex-row justify-between items-start xs:items-center sm:items-end gap-[20px] md:gap-[30px] w-full max-w-[1440px];
        .special-detail {
          @apply flex flex-col items-start xs:items-center sm:items-start gap-[30px];
          .special-author {
            @apply flex justify-center items-center gap-[12px] max-w-[150px] bg-second rounded-[20px] p-[10px_20px];
          }

          span {
            @apply text-[14px] xs:text-[16px] font-[400];
          }
        }
        .special-auction {
          font-family: SpaceMono;
          @apply flex flex-col items-center sm:items-start gap-[10px] w-full xs:w-min bg-second/[0.5] rounded-[20px] p-[30px];
          p {
            @apply text-[18px] 2xs:text-[24px] xs:text-[28px] sm:text-[32px] md:text-[38px] font-[700];
          }
          span {
            @apply text-[10px] xs:text-[12px] font-[400];
          }
          .spacial-time {
            @apply flex gap-[10px];
            > div {
              @apply flex flex-col items-center;
            }
            > p {
              @apply flex items-start;
            }
          }
        }
        button {
          @apply bg-white justify-center gap-[12px] items-center text-primary text-[16px] font-[600]
          rounded-[20px] py-[14px] sm:py-[18px] whitespace-nowrap;
          > div {
            @apply text-purple;
          }
          &:hover {
            @apply bg-second text-white;
            > div {
              @apply text-white;
            }
          }
        }
      }
    }
  }
}

.how-it-works {
  .work-collections {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-[20px] sm:gap-[30px];
  }
}

.contact-section {
  @apply pt-0 m-0 pb-[40px] sm:pb-[80px];
  > div {
    @apply flex flex-col md:flex-row justify-center gap-[30px] md:gap-[40px] lg:gap-[80px]
    bg-second p-[30px] md:p-[40px] lg:p-[60px] rounded-[20px];
    .contact-image {
      @apply w-full md:w-[50%];
      img {
        @apply w-full;
      }
    }
    .contact-form {
      @apply flex flex-col justify-center gap-[20px] sm:gap-[30px] md:gap-[40px] w-full md:w-[50%];
      p {
        @apply text-[16px] md:text-[18px] lg:text-[22px] font-[400];
      }
      .contact-container {
        @apply flex justify-between md:max-w-[500px] bg-white rounded-[20px];
        .contact-input {
          @apply p-[12px_16px] sm:p-[16px_20px] w-full md:w-[70%];
          input {
            @apply text-primary text-[16px] outline-none border-none w-full text-[12px] 3xs:text-[14px] 2xs:text-[16px];
          }
        }
      }
      button {
        @apply justify-center items-center gap-[12px] px-[10px] bg-purple border-[1px] border-white rounded-[20px]
        py-[12px] text-[12px] 3xs:text-[14px] 2xs:text-[16px] font-[400] whitespace-nowrap;
      }
    }
  }
}
