.hero-section {
  @apply flex justify-center w-full py-[40px] md:py-[80px] px-[20px] xs:px-[4vw];
  > div {
    @apply flex flex-col md:flex-row gap-[20px] sm:gap-[30px] lg:gap-[50px] max-w-[1440px];
    .hero-detail {
      @apply flex flex-col gap-[30px];
      p {
        @apply text-[14px] xs:text-[18px] sm:text-[20px] xl:text-[22px] font-[400];
      }
    }

    .hero-item {
      @apply flex flex-col;
      > img {
        @apply rounded-t-[20px];
      }
      .hero-item-detail {
        @apply flex flex-col gap-[10px] p-[20px] bg-second rounded-b-[20px];
        p {
          @apply text-[16px] 2xs:text-[18px] xs:text-[22px] font-[600];
        }
        span {
          @apply text-[14px] xs:text-[16px] font-[400];
        }
      }
    }

    .hero-action {
      @apply flex-col gap-[20px];
      .hero-amount {
        @apply grid grid-cols-3 gap-[30px];
        p {
          font-family: SpaceMono;
          @apply text-[16px] xs:text-[18px] md:text-[22px] font-[700];
        }
        span {
          @apply text-[12px] xs:text-[14px] md:text-[16px] font-[400];
        }
      }
    }
  }
}

.trending-section {
  @apply flex justify-center w-full py-[40px] md:py-[80px] px-[20px] xs:px-[4vw];
  > div {
    @apply flex flex-col gap-[40px] md:gap-[60px] w-full max-w-[1440px];
    .trending-description {
      @apply flex flex-col gap-[10px];
      p {
        @apply text-[14px] sm:text-[16px] md:text-[18px] xl:text-[22px] font-[400];
      }
    }
    .trending-collections {
      @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-[20px] sm:gap-[30px];
      .treding-item {
        @apply flex flex-col gap-[15px];
        img {
          @apply rounded-[20px];
        }

        .sub-collections {
          @apply grid grid-cols-3 gap-[15px];
          span {
            font-family: SpaceMono;
            @apply flex justify-center items-center bg-purple rounded-[20px] w-full h-full
            text-[12px] sm:text-[14px] md:text-[16px] xl:text-[18px] 2xl:text-[22px] font-[700];
          }
        }

        .collection-description {
          @apply flex flex-col gap-[10px];
          p {
            @apply text-[16px] 2xs:text-[18px] xs:text-[22px] font-[600];
          }

          span {
            @apply text-[14px] xs:text-[16px] font-[400];
          }
        }
      }
    }
  }
}

.creator-section {
  @apply flex justify-center w-full py-[40px] md:py-[80px] px-[20px] xs:px-[4vw];
  > div {
    @apply flex flex-col gap-[40px] md:gap-[60px] w-full max-w-[1440px];
    .creator-description {
      @apply flex justify-between gap-[100px] items-end;
      > div {
        @apply flex flex-col gap-[10px];
        p {
          @apply text-[14px] sm:text-[16px] md:text-[18px] xl:text-[22px] font-[400];
        }
      }
    }
    .creator-collections {
      @apply grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[20px] sm:gap-[30px];
    }
  }
}

.browse-section {
  @apply flex justify-center w-full py-[40px] md:py-[80px] px-[20px] xs:px-[4vw];
  > div {
    @apply flex flex-col gap-[40px] md:gap-[60px] w-full max-w-[1440px];
    .browse-description {

    }
    .browse-collections {
      @apply grid 2xs:grid-cols-2 lg:grid-cols-4 gap-[20px] sm:gap-[30px];
      .browse-item {
        @apply rounded-[20px];
        .browse-image-container {
          @apply flex justify-center items-center relative;
          .overlay {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            @apply absolute top-0 right-0 bottom-0 left-0 z-0 rounded-t-[20px];
          }
          .icon {
            @apply absolute z-[1];
          }
          img {
            @apply w-full rounded-t-[20px];
          }
        }
        .browse-title-container {
          @apply bg-second rounded-b-[20px] p-[14px_14px] xs:p-[14px_20px] sm:p-[20px_30px];
          p {
            @apply text-[14px] sm:text-[18px] xl:text-[22px] font-[600];
          }
        }
      }
    }
  }
}

.nft-section {
  @apply flex justify-center w-full py-[40px] md:py-[80px] px-[20px] xs:px-[4vw];
  > div {
    @apply flex flex-col gap-[40px] md:gap-[60px] w-full max-w-[1440px];
    .nft-description {
      @apply flex justify-between gap-[100px] items-end;
      > div {
        @apply flex flex-col gap-[10px];
        p {
          @apply text-[14px] sm:text-[16px] md:text-[18px] xl:text-[22px] font-[400];
        }
      }
    }
    .nft-collections {
      @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-[20px] sm:gap-[30px];
    }
  }
}